/* Responsywnosc */
@media screen and (max-width: 600px) {

    input[type=text], input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

    #tresc {
        width: 100%;
        height: 250px;
    }
}

/* Textarea */
#tresc {
    width: 30%;
    height: 250px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

/* Formatowanie input textow */
.inputBox {
    width: 30%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

input[type=text]:focus {
    background-color: #4B4A4D;
    color: white;
}

#tresc:focus {
    background-color: #4B4A4D;
    color: white;
}

label {
    font-size: 200%;
}

form {
    padding-top: 8%;
    padding-bottom: 3%;
}

.button {
    width: 15%;
    background-color: #3C393F; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #1E1C1F; /* Green */
    color: white;
}