.row {
    width: 100%;
}

.tytul {
    margin-top: 1%;
    width: 100%;
    background-color: #4B4A4D;
    font-size: 250%;
    float: left;
    color: white;
    text-shadow: rgba(0,0,0,.2) 2px 6px 5px,rgba(255,255,255,.4) 0 -4px 30px;
}

.obrazki {
    /* border: 1px solid white; */
    width: 50%;
    float: left;
}

.tresc {
    font-size: 122%;
    width: 50%;
    float: left;
}

.tresc ul {
    color: #dbdadb;
}

.justowanyOpis {
    width: 95%;
    text-align: justify;
    text-justify: inter-word;
    background-color: #4B4A4D;
    margin-top: 5%;
    border: black 3px solid;
    padding-left: 2%;
    padding-right: 1%;
    padding-top: 1%;
    -moz-border-radius-topleft: 14px;
    -webkit-border-top-left-radius: 14px;
    border-top-left-radius: 14px;
    margin-bottom: 5%;
    font-family: 'K2D', sans-serif;
}

.zdjecia {
    float: left;
}

.krotkieInfo {
    float: left;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-top: 5%;
    width: 45%;
    background-color: #4B4A4D;
    border: black 2px solid;
    -moz-border-radius-topleft: 14px;
    -webkit-border-top-left-radius: 14px;
    border-top-left-radius: 14px;
    -moz-border-radius-bottomright: 90px;
    -webkit-border-bottom-right-radius: 90px;
    border-bottom-right-radius: 90px;
    -webkit-box-shadow: 4px 3px 19px 0px black;
    -moz-box-shadow:    4px 3px 19px 0px black;
    box-shadow:         4px 3px 19px 0px black;
    /* aby skontrolować opływanie tekstu */
    overflow:hidden;
}

h2 {
    height: 100%;
    text-align: center;
    border-bottom: black 1px solid;
    letter-spacing: 2px;
}

/* Przybliżanie zdjęć */
img {
    transition: all .2s ease-in-out;
    border: black 3px solid;
}

img:hover { transform: scale(1.2); }

